<footer class="footer">
    <div class="footer-content">
        <% if(theme.copyright) { %>
            <div class="copyright">
                <%- theme.copyright %>
            </div>
        <% } %>
        <!-- 主题制作不易，还请保留出处 -->
        <div class="licenses">
            Powered by <a href="http://hexo.io" target="_blank"> Hexo </a>&nbsp
            Theme - <a href="https://github.com/staunchkai/hexo-theme-staunch" target="_blank">Staunch</a>
        </div>
    </div>
</footer>