.highlight
    border: 1px solid #ccc
    border-radius: 4px
    background-color: #F6F6F6
    .comment
        color: #8e908c

    .attribute,
    .label,
    .ruby .class .title,
    .css .rules .attribute,
    .tag .attr
        color: #718c00

    .string,
    .value,
    .inheritance,
    .header,
    .ruby .symbol,
    .xml .cdata
        color: #82aaff

    .title,
    .tag,
    .attr
        color: #8796b0

    .class,
    .number,
    .preprocessor,
    .built_in,
    .literal,
    .params,
    .constant
        color: #f5871f

    .variable,
    .title,
    .type,
    .regexp,
    .ruby .constant,
    .xml .tag .title,
    .xml .pi,
    .xml .doctype,
    .html .doctype,
    .selector-pseudo,
    .css .id,
    .css .class,
    .css .pseudo,
    .tag .name
        color: #e53935

    .selector-tag,
    .css .hexcolor,
    .css .tag
        color: #39adb5

    .function,
    .python .decorator,
    .python .title,
    .ruby .function .title,
    .ruby .title .keyword,
    .perl .sub,
    .javascript .title,
    .coffeescript .title
        color: #4271ae

    .selector-id,
    .selector-class,
    .keyword,
    .javascript .function
        color: #945eb8