.article-tags
    display: flex
    align-items: center
    a
        margin-right: 10px
        padding: 3px 8px
        border-radius: 2px
        box-shadow: 0 2px 2px 0 #fff
        font-size: 12px
        color: #fff
        transition: background .4s ease
        &:hover
            background-color: #414141

.color1
    background-color: color-purple

.color2
    background-color: color-green

.color3
    background-color: color-cyan

.color4
    background-color: color-yellow

.color5
    background-color: color-blue