$block-caption
    &, 

$base-style
    h1
        font-size: 2em
    h2
        font-size: 1.5em
    h3
        font-size: 1.3em
    h4
        font-size: 1.2em
    h5
        font-size: 1em
    h6
        font-size: 1em
        color: color-grey
    hr
        border: 1px solid color-border
    strong
        font-weight: bold
    em, cite
        font-style: italic
    sup, sub
        position: relative
        font-size: .75em
        line-height: 0
        vertical-align: baseline
    sup
        top: -.5em
    sub
        bottom: -.2em
    small
        font-size: 0.85em
    acronym, abbr
        border-bottom: 1px dotted
    ul, ol, dl
        line-height: line-height
    ul, ol
        ul, ol
            margin-top: 0
            margin-bottom: 0
            margin-left: 20px
    ul
        list-style: disc
        list-style-position: inside
    ol
        list-style: decimal
        list-style-position: inside
    dt
        font-weight: bold
        list-style-position: inside