// Colors
color-bg = #f2f2f2
if hexo-config("theme_color")
    color-theme = convert(hexo-config("theme_color"))
else
    color-theme = #eb4334
color-grey = #bbb
color-shadow = #ddd
color-white = #fff
color-text = #414141
color-green = #35aa53
color-purple = #9c27b0
color-blue = #4286f3
color-cyan = #00bcd4
color-yellow = #fbbd06
color-border = #ccc
color-sidebar = #f6f6f6
color-grey2 = #777

// Fonts
font-sans = "Open Sans",Helvetica,Tahoma,Arial,"Hiragino Sans GB","Heiti SC","Microsoft YaHei","WenQuanYi Micro Hei",Heiti,ubuntu,SimSun,sans-serif
font-code = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 16px
font-size-code = 14px
line-height = 1.6em